# Ignore all preprocessing data/scripts
preprocessing/
sandbox_models/
chpc_bin/
figures/
test_folder/
blamm/
code_snaps/

# Ignore intermediate and model output files
vitis_cre/src/genome/
vitis_cre/src/gene_models/
vitis_cre/src/blast_db/
vitis_cre/src/protein_seq/
vitis_cre/src/blast_results/
vitis_cre/src/results/
vitis_cre/src/saved_models/
vitis_cre/src/tpm_counts/
vitis_cre/src/tomtom/
vitis_cre/src/jaspar/


# Ignore common junk
__pycache__/
__init__.py
*.pyc
*.pyo
*.log
*.out
*.err
*.cursor
*.png 
*.lintr
*.Rhistory
*.Rproj
*.log
*.user

# Ignore pickle files
*.pickle
